%align-list {
  display: flex;
  align-items: center;
}

%centeredFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%about__thumb {
  position: relative;
  background-color: var(--background-light-cl);
}

%descr {
  font-size: 16px;
  line-height: 1.4;

  @media screen and (min-width: 744px) {
    font-size: 17px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 24px;
  }
}
