<section>
  <div class="container">
    <div class="about-us__thumb">
      <div class="about-us__wrapper">
        <div class="about-us__wrap">
          <h2 class="about-us__subtitle">Kto sme</h2>
          <p class="about-us__author">
            Igor Valko,<br />
            CEO a konateľ
          </p>
        </div>
        <p class="about-us__description first">
          Igor Valko je úspešný a skúsený podnikateľ, ktorého kariéra sa začala
          už v roku 1991, keď sa plne venoval rodinnému podniku: Kníhkupectvo
          Valko Distribučná agentúra. Táto spoločnosť sa špecializovala na
          veľkoobchodnú a maloobchodnú distribúciu kníh, pričom pod jej vedením
          sa postupne rozrástla do významného hráča na trhu. Firma prevádzkovala
          14 vlastných kníhkupectiev, ktoré sa nachádzali v rôznych mestách
          Západoslovenského kraja, a zároveň mala strategicky umiestnený veľký
          distribučný sklad v Bratislave. Zamestnávala 64 ľudí, čím nielen
          podporovala lokálnu zamestnanosť, ale aj aktívne prispievala k rozvoju
          knižnej kultúry v regióne.
        </p>
      </div>
      <div class="about-us__box">
        <p class="about-us__description last">
          V roku 2008 sa rozhodol z rodinného podnikania vystúpiť a nasmerovať
          svoju energiu novým smerom. Svoje skúsenosti z oblasti obchodu a
          manažmentu pretavil do nového projektu, v ktorom sa zameral na
          prenájom skladových a logistických priestorov. Týmto krokom vstúpil do
          dynamicky sa rozvíjajúceho sektora, kde využil svoje strategické
          schopnosti a znalosti z oblasti logistiky na rozvoj úspešného
          podnikania v novom segmente.
        </p>
        <div>
          <img
            class="about-us__img"
            src="./images/svg/img-02.svg"
            alt="Partner sign"
            width="94"
            height="38"
          />
          <p class="about-us__partner">S podporou partnera</p>
        </div>
      </div>
    </div>
  </div>
</section>
