<section class="about-company">
  <div class="container">
    <div class="about-company__thumb">
      <h2 class="about-company__subtitle">O spoločnosti</h2>
      <p class="about-company__description">
        Spoločnosť Storageland s.r.o. je spoločnosť vytvorená so zámerom
        prevádzkovať malú sieť samoobslužných (self-storage) skladov na území
        Slovenskej republiky na základe frančízovej licencie <br />
        od spoločnosti Boxyland.
      </p>
      <p class="about-company__description">
        Storageland plánuje v najbližšej budúcnosti otvoriť 6 pobočiek s
        priemernou rozlohou 140 m2 v Bratislave a veľkých slovenských mestách.
        Cieľom spoločnosti je vybudovať a prevádzkovať self-storage sklady v
        kvalitných lokalitách s vysokým potenciálom naplnenia a vytvoriť funkčný
        nájomný cash-flow model fungujúci na princípe prenájmu malých skladových
        jednotiek individuálnym nájomcom.
      </p>
      <p class="about-company__description">
        Self-storage je dynamický sektor trhu s nehnuteľnosťami, ktorý ponúka
        flexibilné riešenia na krátkodobé alebo dlhodobé uskladnenie osobných a
        komerčných predmetov. Ide o prenájom jednotlivých skladovacích jednotiek
        rôznych veľkostí, ktoré si zákazníci môžu prenajať na rôzne dlhé
        obdobie. Self-storage je rastúce odvetvie, ktoré ponúka praktické a
        flexibilné riešenia pre širokú škálu potrieb zákazníkov. Storageland sa
        plánuje presadiť na trhu, expandovať do ďalších slovenských miest a stať
        sa rýchlo rastúcou sieťou v dynamicky sa rozvíjajúcom trhovom segmente.
      </p>
      <!-- <img
        class="about-company__img02"
        src="./images/svg/img-01.svg"
        alt="Cubes"
        width="131"
        height="337"
      /> -->
    </div>
  </div>
</section>
