<section class="about-company">
  <div class="container">
    <div class="about-company__thumb">
      <div class="about-company__wrap">
        <h2 class="about-company__subtitle">O spoločnosti</h2>
        <div>
          <p class="about-company__description first">
            Spoločnosť Storageland s.r.o. je spoločnosť vytvorená so zámerom
            prevádzkovať malú sieť samoobslužných (self-storage) skladov na
            území Slovenskej republiky na základe frančízovej licencie od
            spoločnosti Boxyland.
          </p>
          <p class="about-company__description first">
            Storageland plánuje v najbližšej budúcnosti otvoriť 6 pobočiek s
            priemernou rozlohou 140 m2 v Bratislave a veľkých slovenských
            mestách. Cieľom spoločnosti je vybudovať a prevádzkovať self-storage
            sklady v kvalitných lokalitách s vysokým potenciálom naplnenia a
            vytvoriť funkčný nájomný cash-flow model fungujúci na princípe
            prenájmu malých skladových jednotiek individuálnym nájomcom.
          </p>
        </div>
      </div>
      <div class="about-company__box">
        <p class="about-company__description">
          Self-storage je dynamický sektor trhu s nehnuteľnosťami, ktorý ponúka
          flexibilné riešenia na krátkodobé alebo dlhodobé uskladnenie osobných
          a komerčných predmetov. Ide o prenájom jednotlivých skladovacích
          jednotiek rôznych veľkostí, ktoré si zákazníci môžu prenajať na rôzne
          dlhé obdobie. Self-storage je rastúce odvetvie, ktoré ponúka praktické
          a flexibilné riešenia pre širokú škálu potrieb zákazníkov. Storageland
          sa plánuje presadiť na trhu, expandovať do ďalších slovenských miest
        </p>
        <p class="about-company__description last">
          a stať sa rýchlo rastúcou sieťou v&nbsp;dynamicky sa&nbsp;rozvíjajúcom
          trhovom segmente.
        </p>
      </div>
      <picture class="about-company__img">
        <!-- large screen -->
        <source
          media="(min-width: 1920px)"
          srcset="
            ./images/about-company/about-company-img01_ls.webp    1x,
            ./images/about-company/about-company-img01@2x_ls.webp 2x,
            ./images/about-company/about-company-img01@3x_ls.webp 3x,
            ./images/about-company/about-company-img01@4_ls.webp  4x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1920px)"
          srcset="
            ./images/about-company/about-company-img01_ls.png    1x,
            ./images/about-company/about-company-img01@2x_ls.png 2x,
            ./images/about-company/about-company-img01@3x_ls.png 3x,
            ./images/about-company/about-company-img01@4_ls.png  4x
          "
          type="image/png"
        />
        <!-- desktop screen -->
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/about-company/about-company-img01_d.webp    1x,
            ./images/about-company/about-company-img01@2x_d.webp 2x,
            ./images/about-company/about-company-img01@3x_d.webp 3x,
            ./images/about-company/about-company-img01@4_d.webp  4x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/about-company/about-company-img01_d.png    1x,
            ./images/about-company/about-company-img01@2x_d.png 2x,
            ./images/about-company/about-company-img01@3x_d.png 3x,
            ./images/about-company/about-company-img01@4_d.png  4x
          "
          type="image/png"
        />
        <!-- tablet screen -->
        <source
          media="(min-width: 744px)"
          srcset="
            ./images/about-company/about-company-img01_t.webp    1x,
            ./images/about-company/about-company-img01@2x_t.webp 2x,
            ./images/about-company/about-company-img01@3x_t.webp 3x,
            ./images/about-company/about-company-img01@4_t.webp  4x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 744px)"
          srcset="
            ./images/about-company/about-company-img01_t.png    1x,
            ./images/about-company/about-company-img01@2x_t.png 2x,
            ./images/about-company/about-company-img01@3x_t.png 3x,
            ./images/about-company/about-company-img01@4_t.png  4x
          "
          type="image/png"
        />
        <!-- mobile screen -->
        <source
          media="(max-width: 743px)"
          srcset="
            ./images/about-company/about-company-img01_m.webp    1x,
            ./images/about-company/about-company-img01@2x_m.webp 2x,
            ./images/about-company/about-company-img01@3x_m.webp 3x,
            ./images/about-company/about-company-img01@4_m.webp  4x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 743px)"
          srcset="
            ./images/about-company/about-company-img01_m.png    1x,
            ./images/about-company/about-company-img01@2x_m.png 2x,
            ./images/about-company/about-company-img01@3x_m.png 3x,
            ./images/about-company/about-company-img01@4_m.png  4x
          "
          type="image/png"
        />
        <!-- fallback -->
        <img
          src="./images/about-company/about-company-img01@4_m.png"
          alt="Cubes"
          loading="lazy"
        />
      </picture>
      <!-- <img
        class="about-company__img"
        src="./images/svg/img-01_m.svg"
        alt="Cubes"
        width="131"
        height="337"
      /> -->
    </div>
  </div>
</section>
