<footer class="footer">
  <div class="container footer__box">
    <div class="footer__container">
      <picture class="footer__img">
        <!-- large screen -->
        <source
          media="(min-width: 1920px)"
          srcset="
            ./images/footer/footer-img_ls.webp    1x,
            ./images/footer/footer-img@2x_ls.webp 2x,
            ./images/footer/footer-img@3x_ls.webp 3x,
            ./images/footer/footer-img@4x_ls.webp 4x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1920px)"
          srcset="
            ./images/footer/footer-img_ls.png    1x,
            ./images/footer/footer-img@2x_ls.png 2x,
            ./images/footer/footer-img@3x_ls.png 3x,
            ./images/footer/footer-img@4x_ls.png 4x
          "
          type="image/png"
        />
        <!-- desktop screen -->
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/footer/footer-img_d.webp    1x,
            ./images/footer/footer-img@2x_d.webp 2x,
            ./images/footer/footer-img@3x_d.webp 3x,
            ./images/footer/footer-img@4x_d.webp 4x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/footer/footer-img_d.png    1x,
            ./images/footer/footer-img@2x_d.png 2x,
            ./images/footer/footer-img@3x_d.png 3x,
            ./images/footer/footer-img@4x_d.png 4x
          "
          type="image/png"
        />
        <!-- tablet screen -->
        <source
          media="(min-width: 744px)"
          srcset="
            ./images/footer/footer-img_t.webp    1x,
            ./images/footer/footer-img@2x_t.webp 2x,
            ./images/footer/footer-img@3x_t.webp 3x,
            ./images/footer/footer-img@4x_t.webp 4x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 744px)"
          srcset="
            ./images/footer/footer-img_t.png    1x,
            ./images/footer/footer-img@2x_t.png 2x,
            ./images/footer/footer-img@3x_t.png 3x,
            ./images/footer/footer-img@4x_t.png 4x
          "
          type="image/png"
        />
        <!-- fallback -->
        <img
          src="./images/footer/footer-img@4x_t.png"
          alt="Cube"
          loading="lazy"
        />
      </picture>
      <div>
        <h2 class="footer__title" lang="en">Storageland spol. s r.o.</h2>
        <p class="footer__subtitle" lang="en">Give yourself more space</p>
        <ul class="socials__list">
          <li>
            <a
              href="https://x.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="X"
            >
              <img src="./images/svg/x.svg" alt="X" width="35" height="35" />
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="LinkedIn"
            >
              <img
                src="./images/svg/in.svg"
                alt="LinkedIn"
                width="35"
                height="35"
              />
            </a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="">O nás</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="">Kontakty</a>
          </li>
        </ul>
        <address class="footer__address">
          <ul class="contacts__list">
            <li>IČO <span>56248199</span></li>
            <li>DIČ <span>2122274176</span></li>
          </ul>
          <ul class="address__list">
            <li class="address__item">
              <a
                class="footer__descr"
                href="https://maps.app.goo.gl/cmLnqRYHevcGPUTk9"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >Sídlo<br />
                Storageland s. r. o.<br />
                Broskyňová ulica 2388/2D 900 41 Rovinka</a
              >
            </li>
            <li class="address__item">
              <a class="footer__number" href="tel:+421 905 488 660"
                >ph. <span class="footer__number">+421 905 488 660</span></a
              >
            </li>
            <li class="address__item">
              <a
                class="footer__mail"
                href="mailto:storageland@gmail.com"
                lang="en"
                >e-mail: storageland@gmail.com</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</footer>
