<header class="header">
  <div class="header__container container">
    <div class="header__thumb">
      <a class="logo" href="./index.html">
        <img
          class="logo__img"
          src="./images/svg/logo.svg"
          alt="Logo"
          width="36"
          height="31"
        />
        <span class="logo__text">Storageland spol. s r.o.</span>
      </a>
      <button
        class="header__menu burger__btn"
        type="button"
        aria-label="Переключатель мобільного меню"
        aria-expanded="false"
        aria-controls="mobile-menu"
        data-menu-btn
      >
        <span class="burger__icon"></span>
      </button>
    </div>
    <div class="mobile-menu" id="mobile-menu" data-menu>
      <div class="mobile-menu__container">
        <nav class="header__nav site-nav">
          <ul class="site-nav__list header-nav__list">
            <li>
              <a class="site-nav__link site-nav__link--current" href="#"
                >О nás</a
              >
            </li>
            <li>
              <a class="site-nav__link" href="#">Кontakty</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
