<section class="hero">
  <div class="container">
    <div class="hero__container">
      <img
        class="hero__img"
        src="./images/svg/cube.svg"
        alt="Cube"
        width="29"
        height="33"
      />
      <h1 class="visually-hidden">About</h1>
      <div class="hero__box">
        <div class="hero__wrap">
          <div class="hero__thumb">
            <p class="hero__descr" lang="en">Storing</p>
          </div>
          <p lang="en">with</p>
        </div>
        <div class="hero__thumb">
          <p class="hero__descr" lang="en">confidence</p>
        </div>
      </div>
    </div>
  </div>
</section>
