.about-us__thumb {
  @include section(65, 44);
  @extend %about__thumb;
  padding-right: 29px;
  padding-left: 28px;
  margin-bottom: 30px;
}

.about-us__description {
  @extend %descr;
}

.about-us__subtitle {
  @extend .subtitle;
  font-size: 24px;
  margin-bottom: 13px;
}

.about-us__wrap {
  margin: 0 auto;
  width: 120px;
  margin-bottom: 18px;
}

.about-us__description:not(:last-child) {
  margin-bottom: 18px;
}

.about-us__description.last {
  margin-bottom: 56px;
}

.about-us__img {
  margin-bottom: 5px;
  margin-left: auto;
}

.about-us__partner {
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: right;
}
