.header {
  @include section(24, 20);
}

.header__container {
  @media screen and (min-width: 744px) {
    display: flex;
  }
}

.header__thumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  border: transparent;
  color: var(--icon-menu-cl);
  background-color: transparent;

  @media screen and (min-width: 744px) {
    display: none;
  }
}

.header__nav {
  position: relative;
  bottom: -5px;
  margin-left: auto;
}
